@font-face {
  font-family: Argon;
  src: url(./assets/Argon.otf);
}

body {
  background-color: #181818;
}

#logo {
  height: 86px;
}

#logo2 {
  height: 86px;
}

#line {
  margin-top: -30px;
  margin-left: -10px;
  height: 4px;
  width: 1400.6px;
}

#bar {
  margin-left: 220px;
  margin-top:  10px;
  margin-bottom: -41px;
  height: 70px;
  width: 900px;
}

.one p {
  font-family: Argon;
  color: #dddddd;
  font-size: 34px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.one p:hover {
  transition-duration: 0.2s;
  rotate: -180deg;
}

.one p:active {
  display: none;
}

.one h1 {
  font-family: Argon;
  font-size: 82px;
  color: #dddddd;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 110px;
}

.one h2 {
   font-family: Argon;
   font-size: 90px;
   color: #dddddd;
   text-align: center;
   margin-top: -180px;
   opacity: 0;
   transition-duration: .3s;
}

.one:active h1 {
    opacity: 0;
    transition-duration: .3s;
}

.one:active h2 {
    margin-top: -215px;
    opacity: 1;
    transition-duration: .3s;
}

.one:active h1 {
    opacity: 0;
    transition-duration: .3s;
}

#what {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px; 
  width: 1000px;
}
