@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Teko:wght@500&display=swap');#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1
}

body {
    font-family: DM Sans,sans-serif;
    background-color: #181818;
    color: #f3faff
}

h1,h2,h3,h4,h5,h6 {
    font-family: Teko,sans-serif;
    font-weight: 400;
    color: #fff;
    margin: 0
}

h2 {
    font-size: 60px;
    line-height: 70px
}

a {
    text-decoration: none;
    color: #f3faff
}

a:hover {
    text-decoration: none;
    color: #f3faff;
}

p {
    font-size: 18px;
    line-height: 22px
}

* {
    box-sizing: border-box;
    margin: 0px;
}

.lg-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px
}

button {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit
}

.hide {
    opacity: 0;
    visibility: hidden
}

.visible {
    opacity: 1;
    visibility: visible
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: none
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px
}

html::-webkit-scrollbar-track {
    background-color: #181818
}

html::-webkit-scrollbar-thumb {
    background: #555a55
}

.sticky-nav {
    position: fixed;
    top: 0;
    background-color: #16171760;
    width: 100%;
    backdrop-filter: blur(100px);
    border-bottom: 0px solid hsla(223,57%,64%,.1);
    z-index: 100
}

@-moz-document url-prefix() {
    .sticky-nav {
        background-color: #161616;
    }
}

.nav-spacing {
    height: 100px
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0;
    z-index: 199
}

.navbar .nav-logo #mlogo {
    width: 64px;
    height: 64px
}

.navbar button#nav-logo:active {
    display:inline-block;
    transform: rotateX(360deg);
    transition: transform 200ms ease-out;
}

.navbar .nav-logo img {
    height: 64px
}

.navbar .links {
    margin-left:300px;
    display: inline-flex;
    gap: 54px
}

.navbar .links a {
    color: #f3faffe6
}

.navbar .links .active {
    color: #fc670f
}

.mb-links {
    display: none;
    transition: height .3s ease-in-out;
    height: 0;
    overflow: hidden
}

.mb-links a {
    display: block;
    padding: 25px 10px
}

.mb-links hr {
    border: 1px solid hsla(223,35%,14%,.5);
    margin: 5px 0
}

.mb-links .active {
    color: #1a91ff;
    font-weight: 700
}

.mb-links.toggled {
    height: 330px
}

.primary {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.primary .left-section {
    max-width: 50%
}

.primary .left-section .buttons {
    display: flex;
    gap: 10px
}

.hero .left-section span {
    font-weight: 500;
    font-size: 20px;
}

.primary .left-section h1 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 4px
}

.primary .left-section p {
    margin-bottom: 20px
}

.primary .right-section {
    max-width: 50%
}

.primary .right-section .primary-img .preview-image {
    box-shadow: 0 25px 50px -12px #00000040;
    background-image: url(./assets/scrmain.png);
    background-size: 100%;
    background-position: center;
    width: 610px;
    height: 314px;
    max-width: 100%;
    display: flex;
    margin-left: auto
}

.carousel .carousel-indicators button {
   width: 10px;
   height: 10px;
   border-radius: 100%;
 }

.carousel .carousel-inner {
  max-width: 900px;
  margin: auto;
  box-shadow: -1px 18px 50px -8px #00000040;
}

.carousel-control-prev-icon {
  margin-left:140px;
}

.carousel-control-next-icon {
  margin-right:140px;
}

.prev, .next {
  cursor: default;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 14px;
  color: white;
  font-size: 20px;
  transition: 0.1s ease;
  border-radius: 0 2px 2px 0;
  user-select: none;
}

.primary-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
    padding: 12px 22px;
    background-color: #fc670f
}

.primary-btn-dc {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
    padding: 12px 22px;
    background-color: #7289da
}

.primary-btn-dc:hover {
    background-color: #5b6eb0;
    transition: all .1s ease-in-out
}

.primary-btn-dc:active {
    background-color: #5b6eb0;
    transition: all .1s ease-in-out
}

.primary-btn:hover {
    background-color: #fc580cc4;
    transition: all .1s ease-in-out
}

.primary-btn:active {
    background-color: #fc580cc4;
    transition: all .1s ease-in-out
}

.primary-btn:disabled {
    background-color: #1a91ff33;
    cursor: not-allowed;
    color: #f3faff80
}

.primary-btn-gh {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
    padding: 12px 22px;
    background-color: #2b3137
}

.primary-btn-gh:hover {
    background-color: #1d212cc5;
    transition: all .1s ease-in-out
}

.primary-btn-gh:active {
    background-color: #1d212cc5;
    transition: all .1s ease-in-out
}

.secondary-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
    padding: 12px 22px;
    background-color: #e6930d
}

.secondary-btn:hover {
    background-color: #c07c0f;
    transition: all .1s ease-in-out
}

.secondary-btn:active {
    background-color: #c07c0f;
    transition: all .1s ease-in-out
}

.slider {
    margin-top: 200px
}

.highlight {
    color: #f3faff;
    font-weight: 400
}

.pkgstat {
    margin: 320px 0 240px; /* 400px 0 160px when packaging is going to added */
    text-align: center;
}

.pkgstat #arico,#fedico,#debico,#opico {
  align-items: center;
  margin-right: 4px;
  width:32px;
  height:32px;
}

.pkgstat #filler {
  margin-left:-25px;
}

.pkgstat #fedico,#debico {
  margin-left:-23px;
}

.pkgstat #arch,#debian,#fedora,#opensuse {
    font-size:14.5px;
    border-style: solid;
    border-image: url(./assets/hex.png) 150 / 4px 12px 4px;
    border-radius:6px;
}

.pkgstat #pacman,#apt,#dnf,#zypper {
    font-size:14.5px;
    border-style: solid;
    border-image: url(./assets/hex2.png) 150 / 4px 12px 4px;
    border-radius:6px;
}

@media only screen and (max-width:1000px) {
  .pkgstat #pacman,#apt,#dnf,#zypper {
      margin-left: 4px;
      margin-right: 4px;
      border-image: url(./assets/hex.png) 150 / 4px 12px 4px;
      border-style:solid;
 }
  .pkgstat .row .col-sm #arch,#debian,#fedora,#opensuse {
      border-image: url(./assets/hex.png) 150 / 4px 12px 4px;
      border-style:solid;
  }
}

.pkgstat .row .col-sm {
  max-width:300px;
}

.blankend {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    align-items: center
}

.row {
    display: flex;
    flex-direction: row;
    --bs-gutter-x: 0rem;
    justify-content: center;
  
}

.row .col {
  padding: 0px;
}

@media(max-width: 1290px) {
    .primary .right-section {
        display:none
    }

    .primary .left-section {
        max-width: 100%
    }
}

@media(max-width: 850px) {
    .primary .left-section h1 {
        font-size: 40px
    }

    .primary-btn,.secondary-btn {
        font-size: 16px
    }

    h2 {
        font-size: 40px
    }

    p {
        font-size: 17px
    }
}

@media(max-width: 1000px) {
    .navbar .links {
        display:none
    }

    .navbar #egg {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .navbar #nav-logo {
        display: block;
        margin-right: -20px;
        margin-left: 20px;
    }
    
    .mb-links,.mb-nav-logo {
        display: block
    }

    .mb-nav-logo img {
        width: 60px
    }

    .nav-logo {
        display: none
    }
}

@media(max-width: 550px) {
    .primary {
        margin-top: 100px
    }

    .primary .left-section h1,.primary .left-section p {
        text-align: center
    }
  
    .slider,.pkgstat {
        margin-top: 150px
    }

    .primary .left-section .buttons {
        gap: 8px
    }

    .buttons {
        flex-direction: column;
        gap: 10px
    }

    .buttons span {
        display: none
    }

    .buttons .primary-btn,.buttons .secondary-btn,.buttons .primary-btn-dc,.buttons .primary-btn-gh {
        width: 100%;
        justify-content: center
    }
}
