@font-face {
  font-family: Argon;
  src: url(/assets/Argon.otf);
}

:root {
  /* Variables */
    --background-color: #181818;
    --menu-color: #161616;
    --text-color:  #f3faff;

    /* logo accent */
    --logo-light: #e6930d;
    --logo-dark: #fc670f;

  
  /* root */
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'DM Sans',sans-serif;
}

/* Menu bar */
.header-container {
  background-color: var(--menu-color);
  padding-bottom: 10px;
  position: relative; /* Add relative positioning */

}

.header-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the height as needed */
  background: linear-gradient(90deg, var(--logo-dark), var(--logo-light));
  box-shadow: 0 10px 15px rgba(0, 0, 0, 1);

}

.header {
	flex: none;
	display: flex;
	flex-direction: row;
	margin: 0 10%;
}

.header > nav {
	margin-top: 20px;
	flex-grow: 1;
	height: 50px;
	display: flex;
	justify-content: end;
}

.header ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;

}

.header li {
	margin: 0 0px;
	padding: 0 10px;
}
#github {
  border-radius: 50px;
  background: linear-gradient(45deg, var(--logo-dark), var(--logo-light));
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
  border: 2px solid var(--logo-dark);
  text-decoration: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

#github:hover {
  background: transparent;
	transform: scale(1.3);
	border-color: var(--logo-light);
	color: var(--logo-light);
	background-color: var(--background-color);
}

.logo-container {
	padding: 10px;
}

.logo-container img {
	margin-top: 10px;
	height: 50px;
	width: auto;
	display: inline-block;
	vertical-align: middle;

}

.logo-container .logo-text {
  background: linear-gradient(90deg, var(--logo-dark), var(--logo-light));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Argon', 'sans-serif';
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 2.0rem; /* adjust as needed */
  font-weight: bold;
  margin-top: 5px;
  transition: all 0.2s ease-in-out;

}

.logo-container .logo-text:hover {
	transform: scale(1.05);
}

.header a {
	font-size: 1.5rem;
  font-family: 'DM Sans' ,sans-serif;
	display: block;
	color: var(--text-color);
	text-decoration: none;
	padding: 0 10px;
	line-height: 50px;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

.header a:hover {
	text-decoration: underline 2px var(--logo-light);
	color: var(--logo-light);

}